.siteTitle{
	
	padding-top:50px;
	padding-left:50px;
	font-size:200%;
	font-weight:bold;
}

.continueReading{
	font-size:50%;
}
.individualTag
{
	font-size:150%;
}
.blogTitle{
	font-size:150%;
	font-weight:bold;
}

a 
{
	text-decoration: none;
}


table.commentOuter{
	min-width:100%;
	max-width:800px;
	/*background-color:blue;*/
}
table.commentIndividual{
	min-width:100%;
	max-width:800px;
}


.commentControls{
	background-color: teal;
	text-align: right;
}
.allContent
{
	
	width: 900px; 
	margin: 0 auto; 
	box-shadow: 10px 10px 5px #A6A6A6; 
	border:1px solid;
}
