body {
	background-color: #EBEBEB;
	color: black;
}

.mainContent {
	background-color: white;
	color: black;
}

.header {
	background-color: white;
	color: black;
}

/* Flatten out the main navigation links*/
#nav
{
	margin:0;
	padding:0;
	background-color: black;
	
	/* 3. adding this will make the #nav be the full width of its container, forcing the elements which are after #nav (ul)
	 to the line below instead of appending to the end of the list and looking bad :(
	 */
	float:left;
	width:100%;
	/* border around whole list*/
	border:1px solid #EBEBEB;
	border-width:1px 0;
	
	/*
	background-image: -moz-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -webkit-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -o-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -ms-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%)
	
	*/
	
}
#nav li
{
	display:inline;
	margin:0;
	padding:0;
	
	
}
#nav a:link, #nav a:visited 
{
	color:white;
	background-color: black;
	
	font-size:150%;
	
	
	/* 1. will make the links look like a block/tab */
	padding:20px 40px 4px 10px;
	
	/* 2. Adding this make it so that the padding done in step 1 will not overflow the surrounding elements and pop over top of it */
	float:left;
	width:auto;
	
/*
	background-image: -moz-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -webkit-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -o-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: -ms-linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%);
	background-image: linear-gradient(top , #555555, #444444 50.0%,#000000 100.0%)
	
	*/
}

#nav a:hover,a:focus
{
	color:#66CCFF;
	background-color:#444444;
	border:1px solid #66CCFF;
		
}

#SideNav
{
	margin: 0;
	padding:0;
	background-color: #EBEBEB;

	color: black;
	font-size:150%;	
	
	float:left;
	width:100%;
}
#SideNav li,ul
{
	list-style-type:none;
	list-style-position:inside;
	margin:0;
	padding:0;	
}

#SideNav a:link,#SideNav a:visited
{
	color:#FFFFFF;
	background-color: #000000;
	text-align:center;
	/*only padd the top and bottom, padding the left/right is causing it to 
	overflow its container, and isn't necessary anyways since there
	is plenty of space available horizontally anyways */

	padding:5px 0px 5px 0px;
	
	float:left;
	width:100%; /* fill its container*/
	
	border:1px solid #FFFFFF;

	
}
#SideNav a:hover,a:focus
{
	color:#66CCFF;
	font-weight:bold;
	border:1px solid #66CCFF;
}

#SideNav a.listHeader
{
	color:#66CCFF;
	background-color: #000000;
	text-align:left;
	border:0px;
/*	float:left;	*/
}
#SideNav a.listHeader:hover,a.listHeader:focus
{
	font-weight:normal;
	border:1px solid #66CCFF;
}

.footer {
	background-color: #EBEBEB;
	color: black;
}

.blogTitle {
	color: #66CCFF;
}
